
			#card.flippedY {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
	#card {
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease 0s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 1s ease 0s;
  width: 250px;
}
#card .front {
  background: none repeat scroll 0 0 red;
}
#card .back {
  background: none repeat scroll 0 0 blue;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card figure {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: white;
  display: block;
  font-size: 140px;
  font-weight: bold;
  height: 100%;
  line-height: 260px;
  position: absolute;
  text-align: center;
  width: 100%;
}
figure{margin: 0;}

